{% extends 'authapi/base.html' %}

{% block content %}
<!-- Main content -->
<section class="slice py-8 bg-dark">
    <div class="container py-5">
        <div class="row row-grid align-items-center">
            <div class="col-lg-8 text-center text-lg-left">
                <!-- Heading -->
                <h1 class="text-white mb-4">
                    WebAuth - The fastest way to authenticate your users.
                </h1>
                <!-- Text -->
                <p class="lead text-white opacity-8">
                    Created by
                    <a href="https://github.com/woshishabii/" target="_blank" class="text-white">Woshishabi</a>
                </p>
                <!-- Buttons -->
                <div class="mt-5">
                    <a href="mailto:790738916@qq.com" class="btn btn-warning btn-lg btn-icon">
                            <span class="btn-inner--icon">
                                <i data-feather="edit-3"></i>
                            </span>
                        <span class="btn-inner--text">Contact us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="shape-container shape-line shape-position-bottom">
        <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100"
             style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
    </div>
</section>
<section class="slice slice-lg">
    <div class="container">
        <span class="badge badge-primary badge-pill">Our goal</span>
        <div class="row mt-4">
            <div class="col-lg-6 pr-lg-5">
                <p class="h5 lh-180 mb-3">
                    My(woshishabi) goal is to create a set of the most powerful and useful tools for everyone.
                    This project is a part of my personal project, and I hope that you can use it.
                    It helps you build your own authentication system.
                </p>
            </div>
            <div class="col-lg-6">
                <p class="lead lh-180">
                    If you need any help, you can visit my repo: <a href="https://github.com/woshishabii/webauth"
                                                                    target="_blank">woshishabii/webauth</a>
                </p>
                <p class="lead lh-180">
                    Links you may be interested in:
                    <br><a href="https://github.com/ryanhanwu/How-To-Ask-Questions-The-Smart-Way"
                       target="_blank">How to ask questions the smart way</a>
                    <br><a href="https://www.djangoproject.com/" target="_blank">Django</a>
                    <br><a href="https://www.python.org/" target="_blank">Python</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}