{% extends 'authapi/base.html' %}

{% block content %}
    <!-- Main content -->
    <section class="slice py-6 pt-lg-7 pb-lg-8 bg-dark">
        <!-- Container -->
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-lg-6">
                    <!-- Heading -->
                    <h1 class="h1 text-white text-center text-lg-left my-4">
                        Have a project <strong>in mind?</strong>
                    </h1>
                    <!-- Text -->
                    <p class="lead text-white text-center text-lg-left opacity-8">
                        Create an account and start using our API!
                    </p>
                    <!-- Buttons -->
                    <div class="mt-5 text-center text-lg-left">
                        <a href="mailto:790738916@qq.com" data-scroll-to class="btn btn-white btn-lg btn-icon">
                            <span class="btn-inner--icon">
                                <i data-feather="edit-2"></i>
                            </span>
                            <span class="btn-inner--text">Write a message</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="shape-container shape-line shape-position-bottom">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px"
                 viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="slice slice-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                        <div class="px-5 pb-5 pt-5">
                            <div class="py-4">
                                <div class="icon text-warning icon-sm mx-auto">
                                    <i data-feather="phone-call"></i>
                                </div>
                            </div>
                            <h5 class="">Github</h5>
                            <p class=" mt-2 mb-0">woshishabii</p>
                            <div class="mt-4">
                                <a href="https://github.com/woshishabii" class="link-underline-warning">Me on Github</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                        <div class="px-5 pb-5 pt-5">
                            <div class="py-4">
                                <div class="icon text-warning icon-sm mx-auto">
                                    <i data-feather="settings"></i>
                                </div>
                            </div>
                            <h5 class="">Gitee</h5>
                            <p class=" mt-2 mb-0">chen_xingyu</p>
                            <div class="mt-4">
                                <a href="https://gitee.com/chen_xingyu" class="link-underline-warning">Me on Gitee</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                        <div class="px-5 pb-5 pt-5">
                            <div class="py-4">
                                <div class="icon text-warning icon-sm mx-auto">
                                    <i data-feather="users"></i>
                                </div>
                            </div>
                            <h5 class="">E-mail</h5>
                            <p class=" mt-2 mb-0">Send Me an E-mail!</p>
                            <div class="mt-4">
                                <a href="mailto:790738916@qq.com" class="link-underline-warning">790738916@qq.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}